html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: arial;
	font-size: 11pt;
}

@media print {
	@page { margin: 0; }
	html, body {
		width: 297mm;
		height: 209mm;
		color-adjust: exact;
	}
	body {
		padding: 10mm;
		box-sizing: border-box;
	}

	#manage-planning, #bg-disabled {
		display: none !important;
	}
	#settings {
		visibility: hidden;
	}
}

/******************
 ***** ARRAYS *****
 ******************/
table {
	border-collapse: collapse;
}
#planning td {
	font-size: 10pt;
	border-left: 1px solid black;
}
#planning th {
	flex: 0 0 12.5%;
	width: 12.5%;
	position: relative;
	/*width: 100%;*/
	min-height: 1px;
}
#planning th:first-child {
	width: 0.1%;
	padding: 0 12px;
}
#planning tr:nth-child(2n+1) {
	border-bottom: 1px solid #999;
}
#planning th span {
	display: block;
}
#planning td:hover {
	cursor: pointer;
	box-shadow: 0 0 0 999px inset rgba(0,0,0,0.2);
}

#planning, #manage-planning {
	width: 100%;
}
/******************
 ***** TOPBAR *****
 ******************/
#manage-planning {
	text-align: center;
	color: #FFF;
	background: #666;
	border-bottom: 1px solid #999;
}
#previousDate:hover {
	right: 1px;
}
 #nextDate:hover {
	left: 1px;
}
#previousDate:hover, #nextDate:hover {
	position: relative;
	top: 1px;
	text-shadow: 0 0 1px #000;
}
#previousDate, #nextDate {
	cursor: pointer;
}

/******************
 ***** MODALS *****
 ******************/
#bg-disabled {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.modal {
	display: none;
	position: fixed;
	max-height: 300px;
	max-width: 280px;
	background-color: rgb(255,255,255);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}

input {
	box-sizing: border-box;
}

#libelle {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: 60px;
}
#beginHour, #endHour, #beginMinute, #endMinute,
#hourBegin, #hourEnd {
	width: 52px;
}

#settings {
	font-size: 25px;
	cursor: pointer;
}
#settings:hover { /* SEE HOW TO IMPROVE THAT*/
	text-shadow: 0 0 5px #000, 0 0 10px #000;
	color: #FFF;
}
/*
#settings:hover {
	animation: gear_rotate 2s infinite linear
}

@keyframes gear_rotate {
	0%{
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
*/

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.close-btn {
	border: 0;
	background: 0;
	padding: 0;
	color: #FF5A79;
}
.close-btn:hover {
	cursor: pointer;
	text-shadow: 0 0 1px #FF5A79;
}

#checkDays {
	display: flex;
}

.mb {
	margin-bottom: 5px;
}
.bold {
	font-weight: bold;
}
